-# frozen_string_literal: true
= simple_form_for(@like) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.association :user
    = f.input :likeable_type, collection: ['Anime','Source','News'], include_blank: false
    = f.input :likeable_id, label: 'Likable id', hint: 'Input ID as integer'

  .form-actions
    = f.button :submit, class: "btn btn-primary", style: "margin: 5px 0px;"
