-# frozen_string_literal: true
= simple_form_for(@news) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :headline
    = f.input :content
    = f.input :image

  .form-actions
    = f.button :submit, class: "btn btn-primary", style: "margin: 5px;"
