%p#notice= notice

%p
  %b User:
  = User.find(@follow.user_id).name
%p
  %b Anime:
  = Anime.find(@follow.anime_id).name

= link_to 'Edit', edit_follow_path(@follow)
\|
= link_to 'Back', follows_path
